@font-face {
  font-family: 'AlibabaPuHuiTi-3-55-Regular';
  src: url('./AlibabaPuHuiTi-3-55-Regular.ttf');
}

@font-face {
  font-family: 'AlibabaPuHuiTi-3-65-Medium';
  src: url('./AlibabaPuHuiTi-3-65-Medium.ttf');
}
